name: ci-build-push

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

jobs:
  build:
    name: Build & Push images
    runs-on: [self-hosted, linux, X64, prod] #ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set image variables
        id: image-vars
        shell: bash
        run: |
          echo "image_owner=${{ github.repository_owner }}" >> $GITHUB_OUTPUT
          echo "repo_name=${{ github.event.repository.name }}" >> $GITHUB_OUTPUT
          echo "frontend_image=ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-frontend" >> $GITHUB_OUTPUT
          echo "backend_image=ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}-backend" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ steps.image-vars.outputs.frontend_image }}:latest

      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ steps.image-vars.outputs.backend_image }}:latest