name: Notify Pull Request

on:
  pull_request:
    types: [opened, reopened]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Send Discord notif for PR
        uses: ./.github/actions/discord-notify
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: info
          title: 'New PR: ${{ github.event.pull_request.title }}'
          body: "${{ github.event.pull_request.html_url }}\nOpened by: ${{ github.event.pull_request.user.login }}"
